<div class="flex flex-col justify-center items-center p-8 text-white">
  <div class="flex gap-6 justify-between bg-blue-900 p-6 w-[800px]">
    <section class="flex items-center justify-center">
      <h1>Manage Servers</h1>
    </section>

    <section class="flex gap-4">
      <select
        class="flex text-center items-center justify-center p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-cyan-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        (change)="filterServers($any($event.target).value)"
      >
        <option selected>{{ Status.ALL }}</option>
        <option value="SERVER_UP">{{ Status.SERVER_UP }}</option>
        <option value="SERVER_DOWN">{{ Status.SERVER_DOWN }}</option>
      </select>
      <button
        (click)="openModal()"
        class="flex items-center justify-center gap-1 p-2 bg-green-600 rounded-md hover:bg-green-700 transition duration-300 ease-in-out"
      >
        <span class="material-symbols-rounded">add_circle</span> New Server
      </button>
      <button
        class="p-2 rounded-md bg-blue-600 hover:bg-blue-700 transition duration-300 ease-in-out"
      >
        Print Report
      </button>
    </section>
  </div>

  <ng-container
    *ngIf="appState$ | async as appState"
    [ngSwitch]="appState.dataState"
  >
    <div class="bg-white">
      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="w-full" role="status">
          <svg
            aria-hidden="true"
            class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <div class="text-gray-900 font-bold w-[800px] my-2">
          <div
            class="border border-t-slate-600 border-b-slate-600 flex justify-evenly gap-4 p-2"
          >
            <p>Image</p>
            <p>IP Address</p>
            <p>Name</p>
            <p>Memory</p>
            <p>Type</p>
            <p>Status</p>
            <p>Ping</p>
            <p>Actions</p>
          </div>
          <div
            *ngFor="let server of appState.appData?.data?.servers"
            class="flex justify-evenly items-center text-center gap-4 my-4"
          >
            <img
              [src]="server.imgUrl"
              class="w-[50px] h-[50px] p-0 m-0"
              alt="Server Image"
            />
            <p>{{ server.ipAddress }}</p>
            <p>{{ server.name }}</p>
            <p>{{ server.memory }}</p>
            <p>
              <span
                class="material-symbols-rounded rounded-full p-1"
                [ngClass]="[
                  server.status === Status.SERVER_UP
                    ? 'bg-green-500 text-white'
                    : 'bg-red-500 text-white'
                ]"
              >
                {{
                  server.status === Status.SERVER_UP ? "verified" : "warning"
                }}
              </span>
            </p>

            <div>
              <ng-container
                *ngIf="
                  (filterAction$ | async) === '' ||
                  (filterAction$ | async) !== server.ipAddress
                "
              >
                <span
                  (click)="pingServer(server.ipAddress)"
                  class="material-symbols-rounded text-3xl hover:text-blue-500 transition duration-300 cursor-pointer"
                >
                  dns
                </span>
              </ng-container>

              <div
                *ngIf="(filterAction$ | async) === server.ipAddress"
                role="status"
              >
                <svg
                  aria-hidden="true"
                  class="inline w-4 h-4 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                  viewBox="0 0 100 101"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor"
                  />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill"
                  />
                </svg>
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <span
              class="material-symbols-rounded text-red-500 hover:text-red-800 transition duration-300 ease-in-out cursor-pointer"
            >
              delete
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="relative">
          <input
            type="text"
            id="outlined_error"
            aria-describedby="outlined_error_help"
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 appearance-none dark:text-white dark:border-red-500 border-red-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer"
            placeholder=" "
          />
          <label
            for="outlined_error"
            class="absolute text-sm text-red-600 dark:text-red-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
            >Outlined error</label
          >
        </div>
        <p
          id="outlined_error_help"
          class="mt-2 text-xs text-red-600 dark:text-red-400"
        >
          <span class="font-medium">Oh, snapp!</span> Something went wrong,
          please try again.
        </p>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="this.serverService.showModal">
  <div
    class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-screen"
  >
    <app-add-server (emitCreateServerValues)="addServer($event)"></app-add-server>
  </div>
</ng-container>
